.slidedetail {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 6%) 0px 10px 30px;
    width: 67px;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}

.detailContainer{
    display: inline;
}

.detail{
    display: flex;
    flex-direction: column;
}